<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="{{ site.baseurl }}/assets/img/bestisoft-blue.png" alt=""></a>
                        <p>BestiSoft was formed in 2015 by experienced professionals who have led technology teams and helped many businesses meet their goals. Our main goal is to deliver value to clients worldwide by helping their business leverage technology and eye-catching design and get to the next level.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                             {% for post in site.posts limit:3%}
                                <li>
                                    <a href="{{ post.url }}">{{post.title}}</a>
                                    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
                                </li>
                              {% endfor %}                               
                            </ul>
                        </div>
                    </div><!--/col-md-3-->  
                    <!-- End Latest --> 
                    
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="{{ site.baseurl }}/about/overview/">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{{ site.baseurl }}/service/services/">Solution/Services</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{{ site.baseurl }}/about/news/">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{{ site.baseurl }}/service/whyus/">Why us?</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{{ site.baseurl }}/contact/">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact Us</h2></div>                         
                        <address class="md-margin-bottom-40">
                            st. Solunska 224 - Bitola <br />
                            Macedonia<br />
                            Phone: +38978276015<br />
                            Email: <a href="mailto:contact@bestisoft.com" class="">contact@bestisoft.com</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2016 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="https://www.facebook.com/bestisoftdoo/" class="tooltips" data-toggle="tooltip" data-placement="top" title="BestiSoft Facebook" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>                            
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/bestisoft/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>                            
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
