<!-- Navbar -->
<div class="navbar navbar-default mega-menu" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span> <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="index.html"> <img id="logo-header" src="{{ site.baseurl }}/assets/img/bestisoft-blue.png" alt="Logo">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/about/overview/">Overview</a></li>              
              <li><a href="{{ site.baseurl }}/about/ourteam/">Our team</a></li>
              <li><a href="{{ site.baseurl }}/about/news/">News</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Solutions/Services</a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/service/services/">Our services</a></li>
              <!-- <li><a href="{{ site.baseurl }}/service/technologies/">Technologies</a></li> -->
              <li><a href="{{ site.baseurl }}/service/methodology/">Agile Methodology</a></li>
              <li><a href="{{ site.baseurl }}/service/whyus/">Why us?</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/careers/">Careers</a></li>
          <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        </ul>
      </div>
      <!--/end container-->
    </div>
    <!--/navbar-collapse-->
  </div>
</div>
<!-- End Navbar -->
